APP_NAME=RMUTP-SeniorProject
APP_ENV=local
APP_DEBUG=true
APP_TIMEZONE=Asia/Bangkok
APP_URL=http://localhost/RMUTP-SeniorProject
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=rmutp_senior_project
DB_USERNAME=root
DB_PASSWORD=
JWT_SECRET=
UPLOAD_PATH=uploads
ADMIN_EMAIL=
ADMIN_PASSWORD=
